emailAddresses="'email:1234567@messaging.sprintpcs.com','email:1234567@tmomail.net'"
testEmail="12345678@messaging.sprintpcs.com"
gmailPassword="[smtp.gmail.com]:587 xxxx@gmail.com:pw"

garageDoor1=active
garageDoor1Name="Garage Door 1"
garageDoor1CommentCode=#1#
garageDoor1Pin=16
garageDoor1AlarmOpenTimeOpen1=120
garageDoor1AlarmOpenTimeOpen2=18000

garageDoor2=active
garageDoor2Name="Garage Door 2"
garageDoor2CommentCode=#2#
garageDoor2Pin=18
garageDoor2AlarmOpenTimeOpen1=7200
garageDoor2AlarmOpenTimeOpen2=18000

garageDoor3=notactive
garageDoor3Name="Garage Door 3"
garageDoor3CommentCode=#3#
garageDoor3Pin=32
garageDoor3AlarmOpenTimeOpen1=7200
garageDoor3AlarmOpenTimeOpen2=18000
