email=email:123456789@messaging.sprintpcs.com,email:123456789@tmomail.net
im=123456789@sprint.com,987654321@gmial.com
gmailPassword="[smtp.gmail.com]:587 username@gmail.com:gmail_password"

relayhost=[smtp.gmail.com]:587\
hostName=GarageBuddy

garageDoor1=true
garageDoor1Name="Garage Door 1"
garageDoor1CommentCode=#1#
garageDoor1Pin=16
garageDoor1AlertEmailAddress1='"'"'email:123456789@messaging.sprintpcs.com'"'"','"'"'email:123456789@tmomail.net'"'"'
garageDoor1AlarmOpenTimeOpen1=7200
garageDoor1AlertEmailAddress2='"'"'email:123456789@messaging.sprintpcs.com'"'"','"'"'email:123456789@tmomail.net'"'"'
garageDoor1AlarmOpenTimeOpen2=18000

garageDoor2=false
garageDoor2Name="Garage Door 2"
garageDoor2CommentCode=#2#
garageDoor2Pin=18
garageDoor2AlertEmailAddress1='"'"'email:123456789@messaging.sprintpcs.com'"'"','"'"'email:123456789@tmomail.net'"'"'
garageDoor2AlarmOpenTimeOpen1=7200
garageDoor2AlertEmailAddress2='"'"'email:123456789@messaging.sprintpcs.com'"'"','"'"'email:123456789@tmomail.net'"'"'
garageDoor2AlarmOpenTimeOpen2=18000

garageDoor3=false
garageDoor3Name="Garage Door 3"
garageDoor3CommentCode=#3#
garageDoor3Pin=32
garageDoor3AlertEmailAddress1='"'"'email:123456789@messaging.sprintpcs.com'"'"','"'"'email:123456789@tmomail.net'"'"'
garageDoor3AlarmOpenTimeOpen1=7200
garageDoor3AlertEmailAddress2='"'"'email:123456789@messaging.sprintpcs.com'"'"','"'"'email:123456789@tmomail.net'"'"'
garageDoor3AlarmOpenTimeOpen2=18000
